/**
 * NetlifyPress Main SCSS
 *
 */

/*
 * Bootstrap SCSS
 */

@import "~bootstrap/scss/bootstrap";

/*
 * Typography
 */

@font-face {
    font-family: 'Poppins';
    src: url( ../fonts/poppins-regular.ttf );
    font-display: swap;
}

.netlifypress-admin-wrapper {
    font-family: 'Poppins', sans-serif;
    padding: 25px 0;

    /* Header */

    header.netlifypress-admin-header {
        text-align: center;
        margin-bottom: 70px;

        h1 {
            display: inline-block;
            vertical-align: top;
        }
    }

    /* Tabs */

    ul.nav {
        display: block;
        margin-bottom: 50px;

        li {

            a {
                display: block;
                font-size: 18px;
                color: #000;
                padding: 0;

                .row {
                    border: 1px solid #00C7B7;
                    margin: 0;
                }

                .tab-icon {
                    background-color: #00C7B7;
                    color: #fff;
                    padding: 15px 15px 15px 13px;

                    svg {
                        display: block;
                        width: 40px;
                        height: 40px;
                    }
                }

                .tab-label {
                    text-align: center;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                &.active,
                &:hover,
                &:focus {
                    box-shadow: none;

                    .row {
                        background-color: #00C7B7;
                        color: #fff;
                    }
                }

                &.disabled {
                    opacity: 0.5;
                    filter: grayscale( 100% );
                    -webkit-filter: grayscale( 100% );
                }
            }
        }

        .netlifypress-save-settings {
            text-align: center;
            margin-top: 30px;

            .btn.btn-primary {
                background-color: #00C7B7;
                border-color: #00C7B7;
            }
        }
    }

    /* Tab Content */

    .tab-content {

        .form-group {
            margin-bottom: 50px;
        }
    }

    /* Custom Bootstrap Switches */

    .custom-control-input:checked ~ .custom-control-label::before {
        border-color: #00c7b7;
        background-color: #00c7b7;
    }
}
