/**
 * NetlifyPress Main SCSS
 *
 */

/*
 * Bootstrap SCSS
 */

@import "~bootstrap/scss/bootstrap";

/*
 * Typography
 */

@font-face {
    font-family: 'Poppins';
    src: url( ../fonts/poppins-regular.ttf );
    font-display: swap;
}

.netlifypress-admin-wrapper {
    font-family: 'Poppins', sans-serif;
}
